@use '../../style/variables'

.container-detail-dentist
  width: 100%
  height: calc( 100vh - 150px  )
  display: flex
  justify-content: center
  align-items: center
  
  .detail-dentist
    display: flex
    gap: 1rem
    width: 500px
    background-color: variables.$gray100
    justify-content: space-between
    padding: 2rem

    .container-info-dentist
      display: flex
      flex-direction: column
