$font-stack: 'Roboto', sans-serif

$h1-24px: 1.5rem
$h2-18px: 1.125rem
$h2-14px: 0.875rem
$p-12px: 0.75rem

$fond-xs: 700
$font-md: 500
$font-sm: 300

$linear-primary-color: linear-gradient(to right,#fff, #14EFF5)
$primary-color: #14EFF5
$second-color: #EB8C50
$gray1000: #0C0B0B
$gray800: #262424
$gray700: #4D4949
$gray600: #736D6D
$gray300: #999191
$gray100: #D9CECE
$gray0: #FFFFFF

$gray100-opacity10: rgb(217, 206, 206, 0.3)
