.list-card-dentist-favorite
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 3fr))
  gap: 1rem

  .fav-dentist-list
    width: 100%
    height: calc( 100vh - 150px )
    display: flex
    align-items: center
    justify-content: center
    background-color: #c2c2c2
